/* Color Theme */
:root {
    --jeopardyBlue: #060CE9;
    --darkBlue: #030115;
    --white: #f0eff7;
    --nocolorpickedyet: #016064; 
   }


/* universal styling */    

html {
    font-size: 125%;
}

body {
    background-color: var(--darkBlue);
    color: var(--white);
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: .8rem;
   }

   h2, p {
    line-height: 1.2;
   }


/* Style for Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    font-size: clamp(28px, 3vw, 3vw);
    border-bottom: .4rem dotted;
    margin-bottom: 1rem;
}

/* Style for Timer*/

.timerBox {
    display: flex;
    justify-content: center;
}

#startButton {
    font-size: clamp(24px, 2.5vw, 2.5vw);
}

#startButtonColor {
    background-color: var(--jeopardyBlue);
    color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
}

.timer {
    font-size: clamp(24px, 2.5vw, 2.5vw);
}

/* Style for Questions*/

/* Style for Answer Boxes*/



/* Style for Initials and Final Score */

/* Style for Footer / Leaderboard */ 

/* */